body {
    font-family: Verdana, sans-serif;
    font-size: 16pt;
    text-align: center;
}

h1 {
    font-size: 25pt;
}

#comicsContainer {
    background-color: #DDD;
    display: table;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}

#comicsContainer .row {
    display: table-row;
}

#comicsContainer .row .title {
    padding: 5px;
    width: 400px;
    display: table-cell;
    text-align: left;
}

#comicsContainer .row .link {
    padding: 5px;
    width: 100px;
    display: table-cell;
}

#comicsContainer .row .link a {
    color: brown;
    text-decoration: none;
}

#comicsContainer .row .link a:hover {
    text-decoration: underline;
}

.enabled {
    background-color: #f0ffe5;
}

.disabled {
    background-color: #ffe5e5;
}