body {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    text-align: left;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 22pt;
    margin: 25px 0 20px 15px;
}

h1 .subH1 {
    color: #888888;
}

#comicsContainer {
    display: table;
    margin-left: 10px;
    margin-right: auto;
    width: 800px;
}

#comicsContainer .row {
    display: block;
    background-color: #DDD;
    border: solid 1px #000;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    height: 80px;
    box-shadow: 0 0 15px 1px #BBC;
    width: calc(100% - 10px);
}

#comicsContainer .titleAndDesc {
    display: inline-block;
    float: left;
    width: calc(100% - 150px);
    height: 100%;
}

#comicsContainer .feedLinks {
    display: inline-block;
    float: right;
    width: 150px;
    height: 100%;
    padding-top: 8px;
}

#comicsContainer .row .title {
    display: inline-block;
    float: left;
    text-align: left;
    padding: 8px 5px 2px 10px;
    width: calc(100% - 15px);
}

#comicsContainer .row .title a {
    color: darkblue;
}

#comicsContainer .row .description {
    display: inline-block;
    float: left;
    font-size: 15px;
    width: calc(100% - 15px);
    padding: 5px 5px 5px 10px;
    text-align: left;
}

#comicsContainer .row .feedLink {
    float: right;
    padding: 5px;
    width: calc(100% - 10px);
    text-align: center;
}

#comicsContainer .row .feedLink a {
    color: brown;
    font-size: 18px;
}

.enabled {
    background-color: #f0ffe5;
}

.disabled {
    background-color: #ffe5e5;
}

#versionContainer {
    margin: 20px 0 0 15px;
    width: 800px;
}

#versionContainer a {
    font-size: 14px;
}

#versionContainer .version {
    font-size: 14px;
}